doctype html
html
  head
    title Blogger Dashboard
    link(rel='stylesheet', href='/stylesheets/style.css')

body
  li
    ul Item 1
    ul Item 2
  button#addNew Add New Post
  block content

script(src='//code.jquery.com/jquery-2.1.4.min.js')
block footer
